Jinja2==2.6
Mako==0.8.0
MarkupSafe==0.15
Pillow==2.0.0
PyMySQL3==0.5
gunicorn==0.17.4
wheezy.caching==0.1.90
wheezy.core==0.1.104
wheezy.html==0.1.130
wheezy.http==0.1.287
wheezy.routing==0.1.145
wheezy.security==0.1.46
wheezy.template==0.1.135
wheezy.validation==0.1.103
wheezy.web==0.1.373
