textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    padding:0;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom:0;
}
select, input[type="file"] {
    height: 20px;
}

@media (max-width: 767px) {
    [class*="span"].pull-right {
        float: none;
    }
}

body {
}
.center {
    text-align:center;
}
.bold {
    font-weight:bold;
}
.red {
    color:red;
}
.title {
    font-weight:bold;
}
.name {
    font-weight:bold;
    color:green;
}
.navbar {
    margin-bottom:20px;
}
.navbar .brand {
    margin: 0 auto;
    text-decoration:none;
    color:white;
}
.row-fluid {
    margin-bottom:30px;
}
.error {
    color:red;
}
label.required {
    font-weight:bold;
    color:red;
}
form.newinput {
    width:380px;
    margin:0 auto 20px auto;
}
.newinput table td {
    width:100px
}
input[type=file] {
    line-height:0
}
.image-list {
    margin-top:20px;
}
.image-list .container {
    width:200px;
    margin:0px 10px 0px 10px;
}
.image-list .title {
    font-weight:bold;
    text-align:center;
    margin-bottom:3px;
}
.image-list .thumbnail {
    width:200px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.image-list .author {
    text-align:center;
}
.image-list li.media {
    height:280px;
    float:left;
}
.media-list {
    margin-left:none;
}

.detail .title {
    margin:15px 0;
}
.detail .author {
    margin:10px 0;
}
.pagination {
    text-align:center;
}
.del_schedule {
    text-align:right;
    margin-top:10px;
}
